<div class="outer d-flex flex-column flex-md-row w-100">
    <div class="nav-container">
        <nav class="fixed-top d-flex flex-md-column flex-row column-md-2 mb-3 p-0 pt-3 "  >
            <ul class="d-flex flex-md-column flex-row text-center w-100">
                <li class="custom-button bg-first-color px-3 mx-2 my-3 flex-grow-1">
                    <a href="#">Intro</a>
                </li>
                <li class="custom-button bg-first-color px-3 mx-2 my-3 flex-grow-1">
                    <a href="#">Portfolio</a>
                </li>
                <li class="custom-button bg-first-color px-3 mx-2 my-3 flex-grow-1">
                    <a href="#">About</a>
                </li>
                <li class="custom-button bg-first-color px-3 mx-2 my-3 flex-grow-1">
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
    <main>
        <header>
            <div class="position-relative d-flex flex-column flex-md-row">
                <div class="header-intro text-first-color text-center d-flex flex-column ">
                    <h1 class="mt-auto ">Hasan Özovalı</h1>
                    <h3>Full-stack Web Developer</h3>
                    <p class="mb-auto">Hello I am workings as software developer</p>
                </div>
                <div class="header-image">
                    <%= render 'users/header',size: "50x20" %>
                </div>
            </div>
            <div class="links">links</div>
        </header>
        <h2 class="ml-4">My Portfolio</h2>
        <div class="my-portfolio row mx-0">
            <% @projects.each do |p| %>
                <div class="one-project col-lg-4 col-md-6 col-12 p-3">
                    <div class="inside-project position-relative pb-5">
                        <div class="position-relative">
                            <%= image_tag p.project_image, class: 'project-image w-100 h-auto d-block' %>
                            <div class="opac-layer"></div>
                        </div>
                        <div class="project-name text-first-color p-5 position-absolute">
                            <%= p.title %>
                        </div>
                        <div class="tags text-first-color w-100 pt-4">
                            <% p.tags.each do |t| %>
                                <div class="custom-button bg-first-color text-second-color w-100 text-center m-2">
                                    <%= t.name %>
                                </div>
                            <% end %>
                        </div>
                        <div class="buttons w-100 pt-4">
                            <a
              href="<%= p.live_link %>"
              class="bg-first-color custom-button w-100 text-center mx-2"
              >live link</a
            >
                            <a
              href="<%= p.source_link %>"
              class="bg-first-color custom-button w-100 text-center mx-2"
              >source link</a
            >
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="about-me">
            <div class="intro">
                <h2>About me</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in
                    rhoncus nulla, eget volutpat justo. Phasellus semper feugiat mi a
                    hendrerit. Aliquam nec molestie neque. Maecenas pretium tortor et
                    ligula mollis, ac tempus odio iaculis. Sed ac mauris eget orci dictum
                    vulputate. Ut id pellentesque libero, interdum tincidunt risus.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus
                    malesuada lorem nunc, ac auctor diam cursus convallis. Proin molestie
                    non dolor sit amet vehicula. Nam odio velit, lacinia eget ligula quis,
                    volutpat cursus sapien.
                </p>
            </div>
            <div class="known">
                <div class="languages">
                    <ul>
                        <li>javascript</li>
                        <li>ruby</li>
                        <li>html</li>
                        <li>css</li>
                    </ul>
                </div>
                <div class="frameworks">
                    <ul>
                        <li>bootstrap</li>
                        <li>ruby on rails</li>
                        <li>RSpec</li>
                        <li>Capybara</li>
                        <li>selenium</li>
                    </ul>
                </div>
                <div class="skills">
                    <ul>
                        <li>bootstrap</li>
                        <li>ruby on rails</li>
                        <li>RSpec</li>
                        <li>Capybara</li>
                        <li>selenium</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contact">
            <div class="intro">
                <h2>interesting to contact me</h2>
            </div>
            <div class="contact-+form"></div>
        </div>
        <footer>
            <div class="links"></div>
        </footer>
    </main>
</div>
